<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>app.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>469BF9991F8C227B003D6E1D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>469BF9AD1F8C227C003D6E1D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>469BF9B81F8C227C003D6E1D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
